    body{
        font-family: 'Fire Sans', arial, sans-serif;
        margin: 0px;
        color: #141414;
    }

    h1,h2,h3,p {
        margin: 0px;
    }

    ul {
        list-style: none; /* Remove marcadores da lista */
        padding: 0px;
        margin: 0px;
    }

    img {
        max-width: 100%;
        display: block;
    }